<div class="row">
  <h1 class="title">Experiencia Laboral</h1>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="fechas">
      <li class="fecha1">
        <h3>04 / 2021 - Actualidad</h3>
      </li>
      <li class="fecha2">
        <h3>03 / 2019 - 03 / 2021</h3>
      </li>
      <li class="fecha3">
        <h3>07 / 2017 - 02 / 2019</h3>
      </li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="job1">
      <h3>MOONLIT SOLUTIONS (Autónomo)</h3>
      <h4>Software & Hardware Developer</h4>
      <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector
        Agrícola.</p>
    </div>

    <div class="job2">
      <h3>PROGESER S.R.L.</h3>
      <h4>Biomedical Equipment Technician</h4>
      <p>Mantenimiento Preventivo y Correctivo de:
        Respiradores, Mesas de Anestesia, Cardiodesfibriladores, Electrobisturíes, Monitores
        Multiparamétricos, Electrocardiógrafos, Equipos de Rayos X Portátiles, Autoclaves,
        Incubadoras Gemelares, Módulos de Incubadoras Neonatales, Detectores Fetales,
        Saturómetros, Sensores SpO2, Humidificadores, Bombas de infusión, Balanzas
        Neonatales, Luminoterapias Neonatales, Cialíticas, Compresores de Colchones
        Antiescaras, Agitador de Plaquetas, Centrífugas para laboratorio, etc.</p>
    </div>

    <div class="job3">
      <h3>S.M.A. (Sistemas Médicos Avanzados)</h3>
      <h4>Field Service Engineer</h4>
      <p>Mantenimiento de Equipamiento Médico de Alta Complejidad:
        Resonadores Magnéticos, Tomógrafos, Mamógrafos, Ecógrafos, Densitómetros,
        Panorámico Dental, Hemodinamia,etc.</p>
    </div>
  </div>
</div>
