<div class="row" id="academica">
  <div>
    <h1 class="title">Formación Académica</h1>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="fechas">
      <li class="fecha02">
        <h3>2005 - Actualidad</h3>
      </li>
      <li class="fecha01">
        <h3>2002 - 2004</h3>
      </li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="estudio02">
      <h3>Universitaria INGENIERÍA ELECTRÓNICA</h3>
      <h4>Universidad Tecnólogica Nacional - Facultad Regional Mendoza</h4>
      <p></p>
    </div>

    <div class="estudio01">
      <h3>Secundaria PRODUCCIÓN DE BIENES Y SERVICIOS</h3>
      <h4>Escuela de Comercio Martín Zapata - Universidad Nacional de Cuyo</h4>
      <p></p>
    </div>
  </div>
</div>

<div class="row" id="complementaria">
  <div>
    <h1 class="title">Formación Complementaria</h1>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="fechas">
      <li class="fecha7">
        <h3>04 / 2023 - 06 / 2023</h3>
      </li>
      <li class="fecha6">
        <h3>10 / 2022 - 12 / 2022</h3>
      </li>
      <!-- <li class="fecha5">
        <h3>06 / 2022 - 11 / 2022</h3>
      </li> -->
      <li class="fecha4">
        <h3>03 / 2022 - 10 / 2022</h3>
      </li>
      <li class="fecha3">
        <h3>01 / 2022 - 12 / 2022</h3>
      </li>
      <li class="fecha2">
        <h3>11 / 2021 - 07 / 2022</h3>
      </li>
      <li class="fecha1">
        <h3>10 / 2021 - 12 / 2021</h3>
      </li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="estudio7">
      <h3>AZURE (CERTIFICACIÓN AZ-900)</h3>
      <h4>Microsoft</h4>
      <p></p>
    </div>

    <div class="estudio6">
      <a href="https://www.coderhouse.com/certificados/63e2a92afcf971000ecbd394" style="text-decoration:none"
        target="_blank">
        <h3>PYTHON</h3>
      </a>
      <h4>Coderhouse</h4>
      <p></p>
    </div>

    <!-- <div class="estudio5">
      <h3>QA (QUALITY CONTROL - SOFTWARE TESTER)</h3>
      <h4>Egg Cooperation</h4>
      <p></p>
    </div> -->

    <div class="estudio4">
      <a href="https://www.coderhouse.com/certificados/635083bae58709000ebfa3e6" style="text-decoration:none"
        target="_blank">
        <h3>DATA SCIENCE</h3>
      </a>
      <h4>Coderhouse</h4>
      <p>Python y librerías, Regresión, Clasificación, etc</p>
    </div>

    <div class="estudio3">
      <h3>FULL STACK DEVELOPER (MERN)</h3>
      <h4>NUCBA</h4>
      <p>Javascript, React.Js, Next.Js, Node.Js</p>
    </div>

    <div class="estudio2">
      <a href="https://drive.google.com/file/d/1ysqzb8eeTcf0u8qb2evjHMVmgko2SnHO/view" style="text-decoration:none"
        target="_blank">
        <h3>FULL STACK DEVELOPER</h3>
      </a>
      <h4>Argentina Programa - Ministerio de Desarrollo Productivo</h4>
      <p>Typescript, Angular, Bootstrap, Java, etc</p>
    </div>

    <div class="estudio1">
      <a href="https://www.coderhouse.com/certificados/61dcc50c53dd49002798c48d" style="text-decoration:none"
        target="_blank">
        <h3>DATA ANALYTICS</h3>
      </a>
      <h4>Coderhouse</h4>
      <p>SQL, Power BI</p>
    </div>
  </div>
</div>