<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
            <h2>Portfolio Personal</h2>
            <p>Uno de los proyectos realizados es mi Portfolio Personal creado en el curso de Full Stack Jr. brindado por Argentina Programa. Para llevar a cabo éste proyecto, en la parte de Front End se utilizó HTML, CSS, Bootstrap y Typescript a través del desarrollo en el framework Angular. En la parte de Back End se diseñó la base de datos en MySQL y se utilizó el lenguaje Java para el manejo de los mismos. El diseño de la API para conectar con el Front se realizó mediante Java Spring Boot. Finalmente, el deploy del Front se realizó mediante Firebase y el del Back a través de Heroku conectando la base de datos con Clever Cloud. </p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
            <a href="https://front-my-portfolio.web.app/" target="_blank"><img src="../../../assets/proyecto.png" class="img-fluid img-proyecto" id="portfolio"></a>
        </div>
    </div>
    
    <div class="contenedor">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
                <h2>Dashboard para Análisis de Datos</h2>
                <p>Éste proyecto, realizado en el curso de Data Analytics en Codehouse, consistió en el desarrollo de un dashboard de control en Power BI, con el fin de analizar 
                    indicadores estratégicos y operativos.            
                    Como temática, se decidió analizar los datos de pacientes trasplantados en efectores públicos y privados, de la Ciudad de Buenos Aires, desde el año 2012 al año 2020, 
                    con datos provenientes de bases de datos del gobierno de la Ciudad.
                    El objetivo del análisis es determinar cuáles son las principales características de las personas que fueron trasplantadas en el período del año 2012 al año 2020 
                    (grupos etarios, promedio de edad, género), cuáles fueron los tipos y motivos del trasplante (órganos implantados) y cuál será la evolución de los pacientes 
                    trasplantados, con el fin de prevenir los factores determinantes que ocasionan dichos trasplantes.</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
                <a href="https://drive.google.com/drive/folders/15bDLOy0vti78lUaQG5am2k3ERN_zUqv5?usp=sharing" target="_blank"><img src="../../../assets/trasplantes.jpeg" class="img-fluid img-proyecto" id="dashboard"></a>
        </div>       

    </div>      
   
</div>

