<div class="row">
  <div>
    <h1 class="title">Proyectos Realizados</h1>
  </div>
  <div class="contenedor">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
      <h2>Portfolio Personal</h2>
      <p>
        Uno de los proyectos realizados es un Portfolio Personal creado en el
        curso de Full Stack Jr. brindado por Argentina Programa. El objetivo de
        éste proyecto fue desarrollar un Portfolio con Login que nos permita
        Agregar, Editar y Borrar la información que deseamos, si estamos
        logueados. Para llevar a cabo éste proyecto, en la parte de Front End se
        utilizó HTML, CSS, Bootstrap y Typescript a través del desarrollo en el
        framework Angular. En la parte de Back End se diseñó la base de datos en
        MySQL y se utilizó el lenguaje Java para realizar el CRUD. El diseño de
        la API para conectar con el Front se realizó mediante Java Spring Boot.
        Finalmente, el deploy del Front se realizó mediante Firebase y el del
        Back a través de Render conectando la base de datos con Clever Cloud.
      </p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
      <a href="https://front-my-portfolio.web.app/" target="_blank"><img src="../../../assets/proyecto.png"
          class="img-fluid img-proyecto" id="portfolio" /></a>
    </div>
  </div>

  <div class="contenedor">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
      <h2>Dashboard para Análisis de Datos</h2>
      <p>
        Éste proyecto, realizado en el curso de Data Analytics en Codehouse,
        consistió en el desarrollo de un dashboard de control en Power BI, con
        el fin de analizar indicadores estratégicos y operativos. Como temática,
        se decidió analizar los datos de pacientes trasplantados en efectores
        públicos y privados, de la Ciudad de Buenos Aires, desde el año 2012 al
        año 2020, con datos provenientes de bases de datos del gobierno de la
        Ciudad. El objetivo del análisis es determinar cuáles son las
        principales características de las personas que fueron trasplantadas en
        el período del año 2012 al año 2020 (grupos etarios, promedio de edad,
        género), cuáles fueron los tipos y motivos del trasplante (órganos
        implantados) y cuál será la evolución de los pacientes trasplantados,
        con el fin de prevenir los factores determinantes que ocasionan dichos
        trasplantes.
      </p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
      <a href="https://drive.google.com/drive/folders/15bDLOy0vti78lUaQG5am2k3ERN_zUqv5?usp=sharing"
        target="_blank"><img src="../../../assets/trasplantes.jpeg" class="img-fluid img-proyecto" id="dashboard" /></a>
    </div>
  </div>

  <div class="contenedor">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
      <h2>Blog</h2>
      <p>
        Proyecto realizado para el curso de Python de Coderhouse. El objetivo fue realizar un Blog con Login que, al
        estar logueados, nos permita crear, editar y borrar posts. Para llevar a cabo éste proyecto, se utilizó el
        framework Django.
      </p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
      <a href="https://drive.google.com/drive/folders/15bDLOy0vti78lUaQG5am2k3ERN_zUqv5?usp=sharing"
        target="_blank"><img src="../../../assets/blog.png" class="img-fluid img-proyecto" id="blog" /></a>
    </div>
  </div>

  <div class="contenedor">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
      <h2>Automatización de Proceso para informar Novedades de Sueldo</h2>
      <p>
        El proyecto consistió en automatizar el proceso para informar las Novedades de Sueldo de diversas
        organizaciones. Se diseñó un formulario que se conecta, mediante APIs, a distintos servicios. Éstos nos permiten
        obtener el dato de la organización a la cuál representa un
        determinado apoderado, previamente logueado en Ciudadano Digital, y el período en curso. Por último, permite
        adjuntar un archivo en formato .txt con las novedades que se desean informar. Una vez completado el formulario,
        se genera un expediente en un sistema de gestión interno y se envían, al apoderado, las notificaciones
        correspondientes con el estado del trámite. Para llevar a cabo éste proyecto, se utilizó la metodología BPM
        (Bussiness Process Management) mediante el uso de la plataforma Bonita, y se diseñó una API que posibilita la
        conexión con las APIs que nos permiten consumir distintos servicios.
      </p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
      <a href="https://cidi.sanjuan.gob.ar/" target="_blank"><img src="../../../assets/formulario_novex.png"
          class="img-fluid img-proyecto" id="proceso" /></a>
    </div>
  </div>
</div>