*,
*:before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

div {
  background-color: #0a192f;
}

app-social {
  float: right;
  margin-top: 25px;
  justify-content: space-between;
  color: #40def7;
}
