<div class="row">
    <div class="container">
        <div class="logo">
            <!-- <img src="../../../assets/APLogo.png" id="logoAP"> -->
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/federico-baldasso/" target="_blank"><img src="../../../assets/linkedin.png" id="Linkedin"></a>
            <a href="https://github.com/fedebaldasso" target="_blank"><img src="../../../assets/github.png" id="GitHub"></a>
            <a href="https://twitter.com/FedeBaldasso" target="_blank"><img src="../../../assets/twitter.png" id="Twitter"></a> 
            <a href="https://www.instagram.com/fedeb.ok/" target="_blank"><img src="../../../assets/instagram.png" id="Instagram"></a>                       
            <a href="" target="_blank"><img src="../../../assets/facebook.png" id="Facebook"></a>
            <a href="https://drive.google.com/file/d/1wZMcxQi7OS4ntepSg0duuaeZJPn8h-qO/view?usp=sharing" target="_blank">
                <button type="button" class="btn btn-outline-secondary">RESUME</button>
            </a>           
        </div>
    </div>
</div>





